/* Global styles */

.battleboard {
    width: 200px;
    height: 200px;
}

#ships {
    width: 500px;
    height: 60px;
    margin: 30px 0;
    background-color: lightblue;
    display: flex;
    align-items: center;
}

.battleship {
    height: 10px;
    margin: 3px;
    background-color: grey;
}

.destroyer-placeholder {
    width: 40px;
}

.submarine-placeholder {
    width: 30px;
}

.carrier-placeholder {
    width: 50px;
}

.minehunter-placeholder {
    width: 20px;
}

.frigate-placeholder {
    width: 30px;
}
